/* Keep the main content from overlapping with the top and side bar */
main {
    padding: 80px 150px;
}

/* Keep the side bar from overlapping with the top bar */
.sidebar {
  padding: 80px 20px;
}

/* Custom css for the 404 page */
.page-not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin: 0;
}

/* Disable BS button focus border */
.accordion-button:focus {
  box-shadow: none;
}

/* Custom css for the category cards in the challenge category overview*/
.challenge-card {
    width: 300px;
    padding: 15px;
}

/* Don't show challenge categories or the challenges within by default*/
.challenge-category,
.challenge {
  display: none;
}

/* Show challenge-categories with one of these classes */
.show-all,
.show-easy,
.show-medium,
.show-hard,
/* Show correctly filtered challenges within a shown category */
.show-all .challenge,
.show-easy .challenge.easy,
.show-medium .challenge.medium,
.show-hard .challenge.hard {
  display: block;
}

/* Custom css for 'code blocks' used in connection strings */
.code-block {
  background-color: #f0f0f0;
  padding: 10px;
  font-family: monospace;
  border-radius: 4px;
  border: 1px solid #ddd;
  overflow-x: auto;
}

.code-block p {
  padding: 0 20px;
  margin: 0;
}

button {
  width: 15.36%;
}

.nav-link-white {
  color: white;
}

.nav-link.active {
  color: #1c8adb;
}

.nav-link.active:hover {
  color: #1464bc;
}

.list-group-item.active {
    background-color: #1c8adb !important;
}

.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top {
  background-color: #1c8adb !important;
}

.footer.bg-dark.text-light.py-3 {
  background-color: #1c8adb !important;
}

.btn.btn-primary {
  --bs-btn-bg: #1c8adb;
  --bs-btn-border-color: #1c8adb;
  --bs-btn-hover-bg: #1464bc;
  --bs-btn-hover-border-color: #1464bc;
}

#password {
  background: hsl(0deg 0% 100%);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  color: hsl(0deg 0% 30%);
}

#email {
  background: hsl(0deg 0% 100%);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  color: hsl(0deg 0% 30%);
}

#username {
  background: hsl(0deg 0% 100%);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  color: hsl(0deg 0% 30%);
}

.btn.btn-secondary.btn-lg.btn-block {
  --bs-btn-bg: #1c8adb;
  --bs-btn-border-color: #1c8adb;
  --bs-btn-hover-bg: #1464bc;
  --bs-btn-hover-border-color: #1464bc;
  width: 17.182%;
}

.team-name > a {
  color: black;
  text-decoration: none;
}

.solves_link {
  color: black;
  text-decoration: none;
  border-color: #cfe2ff!important
}

.solves_link:hover {
  transition: color .15s;
  background-color: #EBF3F5;
}

.accordion-button:not(.collapsed) .solves_link {
  border-color: darkgrey!important
}

.accordion-button:not(.collapsed) .solves_link:hover {
  transition: color .15s;
  background-color: #949d9e;
}

form {
  padding-bottom: 10px;
}

.accordion-button:not(.collapsed) {
  background-color: lightgray;
}

.accordion {
    margin-bottom: 50px;
}

.solved {
  text-decoration: line-through;
}

.filter select {
  background-color: #1c8adb;
  color: white;
  padding: 12px;
  width: 20%;
  max-width: 250px;
  border: none;
  font-size: 20px;
  appearance: none;
  outline: none;
}

.filter  {
  position: relative;
}

.filter::before {
  content: url("/static/svg/fa-chevron-circle-down-white.svg");
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  left: 0;
  width: 18.5%;
  max-width: 230px;
  height: 100%;
  text-align: right;
  font-size: 24px;
  line-height: 52.5px;
  pointer-events: none;
}

.chart-container {
  width: 80%;
  height: 80%;
  margin: auto;
  
}