/* This prevents the top navigational bar and footer from overlapping with the main content. */
body {
    padding-top: 70px;
    padding-bottom: 70px;
}

/* This fixes the footer to the bottom. */
html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* This makes challenge titles light up on hover */
.challenge_name:hover{
background: #03fcfc; /* light blue */
}