<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" class="h-100">
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block html_head %}{% endblock %}
    {% include "header.html" %}
</head>
    <body class="d-flex flex-column h-100">
        <header>
            {% include "top_bar.html" %}
            {% include "side_bar.html" %}
        </header>

<!--        <div class="container-fluid">-->
<!--            <div class="row">{% include "top_bar.html" %}</div>-->
<!--            <div class="row">{% include "side_bar.html" %}</div>-->
<!--        </div>-->

        <main class="flex-shrink-0">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </main>

        {% include "footer.html" %}
    </body>
</html>
