{% extends "base.html" %}
{% block title %}pwncrates - {{category}}{% endblock %}

{% block content %}
    {% for name, challenges  in subcategories.items() %}
        <ul class="list-group">
            <li class="list-group-item active">{{name}}</li>
        {% for id, name, description, points, handout in challenges %}
              <li class="list-group-item">
                  <h4>{{name}} - {{points}}</h4>
                  <p>
                      {{description | safe}}
                  </p>
                  {% if handout != "" %}
                    <a href="{{ url_for('static', filename='handouts/' + handout) }}">Download files</a>
                  {% endif %}
                  {% if id in solves %}
                    <p>
                        Solved! <a href="{{ url_for('writeups', challenge_id=id ) }}">View writeups</a>
                    </p>
                  <!-- TODO: check if logged in -->
                  {% else %}
                      <form method="POST" action="/api/challenges/submit/{{id}}">
                          <div class="input-group mb-3">
                            <input type="text" name="flag" class="form-control" placeholder="Submit flag" id="{{id}}">
                            <button class="btn btn-primary" type="submit" id="button-addon2">Submit</button>
                          </div>
                    </form>
                  {% endif %}
              </li>
        {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}