{% extends "base.html" %}
{% block title %}pwncrates - Challenges{% endblock %}

{% block content %}
    <div class="row">
    {% for category, description in categories.items() %}
        <div class="challenge-card">
        <a href="{{ url_for('challenges') + '/' + category }}" class="card card-block stretched-link text-decoration-none">
            <div class="card">
              <img src="https://picsum.photos/536/354" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title text-center">{{ category }}</h5>
                <p class="card-text">
                    {{ description | safe }}
                </p>
              </div>
            </div>
            </a>
        </div>
    {% endfor %}
    </div>
{% endblock %}