{% extends "base.html" %}
{% block title %}pwncrates - Login{% endblock %}

{% block content %}
    <h1>Login</h1>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <form method="post" action="{{ url_for('login') }}">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <button type="submit">Login</button>
    </form>

    <a class="btn btn-secondary btn-lg btn-block" href="{{ url_for('discord_oauth') }}">
                Login with Discord
            </a>
{% endblock %}




