{% extends "base.html" %}
{% block title %}pwncrates - Profile{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">#{{ rank[0] }} - {{ current_user.username }}</h1>
         {% if current_user.is_authenticated %}
        <form action="{{url_for('api_update_profile')}}" method="POST">
          <div class="form-group text-center">
            <select class="" id="university" name="university" onchange="updateUniversity()">
              {% for university_id, university_name in universities %}
                    <option value="{{ university_id }}">{{ university_name }}</option>
                {% endfor %}
            </select>
          </div>
        </form>
        {% else %}
        <h6 class="text-center mb-5">{{ current_user.university }}</h6>
        {% endif %}

        <table class="table table-striped">
            <thead class="table-header">
                <tr>
                    <th class="points">Points</th>
                    <th class="challenge-name">Challenge</th>
                    <th class="date">Date</th>
                </tr>
            </thead>
           <tbody>
                {% for challenge_id, challenge_name, time_solved, points in solves %}
                <tr>
                    <td class="rank">{{points}}</td>
                    <td class="user-name">{{challenge_name}}</td>
                    <td class="date">{{time_solved}}</td>
                </tr>
                {% endfor %}
            </tbody>
            </tbody>
        </table>
    </div>
    <script>
        function updateUniversity() {
          fetch('{{ url_for("api_update_profile") }}', {
            method: 'POST',
            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
            body: 'university=' + encodeURIComponent(document.getElementById('university').value)
          });
        }
    </script>
{% endblock %} 