{% extends "base.html" %}
{% block title %}pwncrates - Profile{% endblock %}

{% block content %}
    <div class="container mt-0">
        <h1 class="text-center mb-0">#{{ rank[0] }} - {{ current_user.username }}</h1>
        <h1 id="user-id" style="display: none;">{{current_user.id}}</h1>
         {% if self_profile %}
        <form action="{{url_for('api_update_profile')}}" method="POST">
          <div class="form-group text-center mb-0">
            <select class="" id="university" name="university"
                    onchange="updateUniversity('{{ url_for('api_update_profile') }}')">
              {% for university_id, university_name in universities %}
                    <option value="{{ university_id }}" {% if current_user.university == university_name %} selected="selected" {% endif %}>{{ university_name }}</option>
                {% endfor %}
            </select>
          </div>
        </form>
        {% else %}
        <h6 class="text-center mb-0">{{ current_user.university }}</h6>
        {% endif %}

        <div class="chart-container">
            <canvas id="profile_chart"></canvas>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
        <table class="table table-striped mt-5">
            <thead class="table-header">
                <tr>
                    <th class="points">Points</th>
                    <th class="challenge-name">Challenge</th>
                    <th class="date">Date</th>
                </tr>
            </thead>
           <tbody>
                {% for challenge_id, challenge_name, time_solved, points in solves %}
                <tr>
                    <td class="rank">{{points}}</td>
                    <td class="user-name">{{challenge_name}}</td>
                    <td class="date">{{time_solved}}</td>
                </tr>
                {% endfor %}
            </tbody>
            </tbody>
        </table>
    </div>
{% endblock %} 