{% extends "base.html" %}
{% block title %}pwncrates - Scoreboard{% endblock %}

{% block content %}
    <div class="container mt-0">
        <h1 class="text-center mb-0">Scoreboard</h1>
        <div class="filter">
            <select id="university-filter" autocomplete="off" aria-label="All">
                <option value="">All</option>
                {% for university_id, university_name in universities %}
                    <option value="{{ university_id }}">{{ university_name }}</option>
                {% endfor %}
            </select>
        </div>

        <table class="table table-striped mt-5">
            <thead class="table-header">
                <tr>
                    <th class="rank">#</th>
                    <th class="team-name">Name</th>
                    <th class="university-id">University</th>
                    <th class="score">Score</th>
                </tr>
            </thead>
            <tbody>
                {% for user_id, name, university_id, university_name, points, _ in users %}
                <tr>
                    <td class="rank">{{loop.index}}</td>
                    <td class="team-name"><a href="{{url_for('public_profile', user_id=user_id)}}">{{name}}</a></td>
                    <td class="university-id" university="{{university_id}}">{{university_name}}</td>
                    <td class="score">{{points}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
