{% extends "base.html" %}
{% block title %}pwncrates - Writeups{% endblock %}

{% block content %}
        <ul class="list-group">
            <li class="list-group-item active">
                <div class="d-flex justify-content-between">
                    <h4>{{ challenge_name }}</h4>
                    <form method="POST" action="/writeups/{{challenge_id}}" enctype="multipart/form-data">
                        <div>
                        <input type="file" name="file">
                        <input type="submit" value="Upload">
                        </div>
                    </form>
                </div>
            </li>
        {% if official_writeup %}
            <li class="list-group-item">
                  <a href="{{ url_for('writeups', challenge_id=challenge_id, writeup_id='author') }}">Author solution</a>
              </li>
        {% endif %}
        {% for author, writeup_id in writeups %}
              <li class="list-group-item">
                  <a href="{{ url_for('writeups', challenge_id=challenge_id, writeup_id=writeup_id) }}">{{ author }}</a>
              </li>
        {% endfor %}
        </ul>
{% endblock %}